header {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
}

#left-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

body {
    font-family: 'Raleway', sans-serif;

}