body {
display: block;
margin: 8px;
font-family: 'Catamaran', sans-serif;
font-size: 20px;
background-image: url("../public/images/background2.jpeg");
}

#container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#contact {
font-size: 20px;
}

header {
font-size: 40px;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.aboutMeText, .backgroundText {
display: flex;
justify-content: center;
}

.aboutMeText{
display:flex;

}

span {
font-size: 30px;
}

#qualities {
border-bottom: solid black 1px;
}

nav {
display: flex;
flex-direction: row;
}

#left-nav {
display: flex;
justify-content: flex-start;
flex-direction: row;
font-family: 'Amatic SC', cursive;
}

#harryCircle {
width: 90px;
padding: 1px;
background-color: white;
height: auto;
}

a.nostyle::after {
    content: none !important;
}

nav.dropdowns a.icon {
display: none;
}

nav.dropdowns a {
font-size: 25px;
position: relative;
display: inline-block;
width: 150px;
background-color: white;
color: black;
padding: 5px;
text-align: center;
text-decoration: none;
margin: auto;
top: 25px;
}

nav.dropdowns a[href]:hover {
background-color: pink;
color: black;
}

nav.dropdowns nav {
display: inline-block;
margin-right: 10px;
width: 150px;
vertical-align: top;
}

nav.dropdowns nav a:first-of-type {
cursor: default;
}

nav.dropdowns nav a:first-of-type:after {
content: "▾";
vertical-align: top;
}

nav.dropdowns nav a:not(:first-of-type) {
text-align: left;
display: none;
}

nav.dropdowns nav:hover a:not(:first-of-type) {
display: block;
}

.title {
position: relative;
color: white;
opacity: 0.7;
}

